/* colores */

$primary: #1B2631;
$secondary: #2E4053;
$text-color: #fff;

/* fuentes */
$font-principal: inherit;
$font-title: monospace;
$font-p: sans-serif;

/* tamaño de fuente */
$font-size: 1.31rem;
$font: 1,71rem;

/* espacios */
$padding-rigth: .5rem;