* {
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-areas:
    "t t t"
    "img img img"
    "img img img"
    "footer footer footer"
    ;
    grid-template-rows: 240px 300px 300px 60px; 
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 100px;
    width: 100%;
    height: 100vh;
}

#titulo {
    grid-area: t;
}

#imagen {
    grid-area: img;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header {
    margin-bottom: 80px;
    background-color: #1B2631;
}

body {
    background-color: #2E4053;
}

h1 {
    padding-top: 45px;
    padding-left: 20px;
    color: #fff;
}
ul {
    display: inline-block;
}
li {
    display: inline-block;
    list-style-type: none;
    margin: 0 20px;
}
.row {
    margin-bottom: 0px;
}
.card {
    margin-bottom: 160px;
}

h2 {
    margin-left: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 180px;
    margin-bottom: 50px;
    color: #fff;
}
#img {
    display: inline;
    margin-top: 240px;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 220px;
    height: 320px;
}

#margin {
    margin-left: 50px;
}
p {
    display: flex;
    margin-bottom: 0px;
    font-family: sans-serif;
    margin-left: 80px;
    color: #fff;
}



@media (max-width: 800px) and (min-width: 300px) {
    #content {
        margin-top: -100px;
        margin-bottom: -80px;
    }
    .card {
        margin-bottom: 60px;
    }
}    

@media (max-width: 530px) and (min-width: 300px) {
    .size {
        font-size: 3.25rem;
        margin-bottom: -90px;
    }
}   

@media screen and (max-width: 336px) {
    .media {
            display: inline-block;
            font-size: 1.5rem;
            margin-top: 10px;
            padding-top: 10px;
            
    }
}

@media (max-width: 1204px) and (min-width: 805px) {
    #margin-top {
        margin-top: 400px;
    }
    .responsive {
        width: 380px;
        height: 300px;
        margin-top: 10px;
    }
}  

@media (max-width: 804px) and (min-width: 301px) {
    #margin-top {
        margin-top: 1400px;
    }
    .responsive {
        width: 100%;
        height: 300px;
        margin-top: 60px;
    }
} 

@media (max-width: 670px) and (min-width: 300px) {
    .header {
        width: 640px;
    }
    .display-3 {
        font-size: 4.38rem;
    }
    .size {
        margin-bottom: 100px;
    }
} 

@media screen and (max-width: 299px) {
    .header {
        width: 640px;
    }
}


@media screen and (max-width: 300px) {
    #margin-top {
        margin-top: 1020px;
    }
    .responsive {
            width: 100%;
    }
    .display-3 {
        font-size: 2.26rem;
    }
}



/* le puse display:none-para a futuro cambiarlo */
#none {
    font-size: 1.2rem;
    text-align: justify;
    font-family: monospace;
    margin-top: 190px;
    display: none;
}

#content {
    display: flex;
    margin-top: 0px;

}

#margen {
    margin-bottom: -150px;
    margin-right: 0px;
    padding: 0;
}

.card {
    margin-top: 200px;
}

h3 {
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 80px 100px;
    font-size: 6.25rem;
    text-align: center;
    align-items: center;
    -webkit-box-shadow: 5px 5px 15px 5px #A2D9CE; 
box-shadow: 5px 5px 15px 5px  #A2D9CE;
}

h5 {
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-size: 6.25rem;
    text-align: center;
    align-items: center;
    -webkit-box-shadow: 5px 5px 15px 5px #A2D9CE; 
box-shadow: 5px 5px 15px 5px  #A2D9CE;
}

section {
    margin-left: 50px;
}

.card-text {
    display: flexbox;
    color: #2E4053;
    text-align: left;
}

.card-body {
    display: flexbox;
    color: #2E4053;
    text-align: left;
    
}

#text {
    display: flex;
    margin-left: 10px;
    text-align: left;
    width: 480px;
}

#font {
    text-align: center;
    font-size: 100px;
}

#width {
    display: flex;
    justify-content: center;
    margin-left: 230px;
    width: 800px;
    background-color: #AED6F1;
}

.navbar {
    padding: 0;
}

.display2 {
    display: inline-block;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
    margin-top: -50px;
    padding-bottom: 50px;
}


footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    padding-bottom: -40px;
    color: #fff;
    background-color: #1B2631;
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    margin-top: 100px;
}



#p {
    display: flex;
    padding-bottom: 10px;
}

.display-3 {
    color: #1B2631;

} 

.jumbotron {
    margin-top: 100px;
}

.lead {
    color: #2E4053;
}

#color-contacto {
    color:#2E4053;
}

